#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 350px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #48a0ac;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 19px;
}


body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #242c30;
}

input,
button {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #48a0ac;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s;
  font-size: 24px;
}

button:hover {
  background-color: #203c44;
  border-color: #203c44;
  color: #48a0ac;
}

input:focus,
button:focus {
  outline: none;
  border-color: #203c44;
}